@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
  }

  body {
    width: 100%;
    font-size: large;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .nav-link {
    margin-left: 20px;
    padding: 5%;
  }

  .nav-link a {
    color: #fff; /* Set your desired color */
    text-decoration: none;
  }

  .main {
    display: block;
  }

  .welcome {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: center;
    background-image: url("./assets/background/Illustration-header.svg");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  .hello {
    width: 35%;
  }

  .contact-links {
    margin-top: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 3%;
  }

  .recent-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .recent-works {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-hr {
    width: 68%;
  }

  .recent-projects {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .art {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
    align-items: center;
    justify-items: center;
  }

  .art-data {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./assets/about/about.svg);
    background-position-x: right;
    background-position-y: 10%;
    background-repeat: no-repeat;
    height: 150vh;
  }

  .about-me {
    margin-left: 5%;
  }

  .about-hr {
    margin-top: 10%;
    margin-left: 5%;
    width: 80%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .my-stack {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: -20%;
  }

  .lang-frameworks1,
  .lang-frameworks2,
  .lang-frameworks3 {
    margin-top: 65%;
    margin-left: -60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .feedback-text {
    text-align: left;
    width: 30%;
  }

  .mobile-menu {
    display: none;
  }

  .bg-img-mobile {
    display: none;
  }

  .custom-img-mobile {
    display: none;
  }

  .image-bg-mobile {
    display: none;
  }

  #button:hover {
    background-color: rgb(221, 137, 10);
  }

  .cards-works:hover {
    display: block;
  }

  .art-data:hover h2,
  .art-data:hover p {
    color: transparent;
  }

  .art-data:hover .b-button {
    display: block;
  }

  .art-data:hover ul {
    display: none !important;
  }

  .feedback-form {
    display: none;
  }
}
