@media screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
  }

  body {
    width: 100%;
    font-size: large;
  }

  .menu-desktop {
    width: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin-left: 12%;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  .nav-link {
    margin-left: 20px;
    padding: 5%;
  }

  .nav-link a {
    color: #fff; /* Set your desired color */
    text-decoration: none;
  }

  .main {
    display: block;
  }

  .welcome {
    background-image: url("./assets/background/Illustration-header.svg");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 40%;
    height: 100vh;
    width: 100%;
  }

  .hello {
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-end;
    align-content: center;
    gap: 0;
    width: 60%;
  }

  .contact-links {
    margin-top: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recent-work {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .recent-works {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .custom-hr {
    width: 68%;
  }

  .recent-projects {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .art {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
    align-items: center;
    justify-items: center;
  }

  .art-data {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .about-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: url(./assets/about/about.svg);
    background-position-x: right;
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: 50%;
    height: 150vh;
  }


  .about {
    width: 100%;
    position: relative;
    padding: 5%
  }

  .about-me {
    width: 50%;
    margin-left: -24px;
  }

  .about-hr {
    margin-top: 12%;
    width: 90%;
  }

  .skills {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .my-stack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-right: auto;
  }

  .stack-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .lang-frameworks1,
  .lang-frameworks2,
  .lang-frameworks3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
  }

  .feedback-form {
    width: 50%;
  }

  .divider,
  .rectangle-border,
  #fullname,
  #email,
  #message {
    width: 100%
  }

  .feedback-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 30%;
  }

  .c-button {
    align-self: flex-start;
  }

  .footer {
    width: 100%;
  }

  .footer-line {
    width: 100%
  }

  .mobile-menu {
    display: none;
  }

  .custom-img-mobile {
    display: none;
  }

  .image-bg-mobile {
    display: none;
  }

  .footer-line1 {
    display: none
  }

  #button:hover {
    background-color: rgb(221, 137, 10);
  }

  .cards-works:hover {
    display: block;
  }

  .art-data:hover h2,
  .art-data:hover p {
    color: transparent;
  }

  .art-data:hover .b-button {
    display: block;
  }

  .art-data:hover ul {
    display: none !important;
  }
}
