@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&family=Inter:wght@400;700&display=swap");

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  background: #3c3a39;
  height: 50px;
}

.logo {
  text-align: center;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  margin-left: 12%;
  margin-right: 12%;
}

.welcome {
  background-color: #1c1a19;
  background-image: url("./assets/background/bg_img.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.hello {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 120px 24px;
  gap: 12px;
}

.hello > div {
  gap: 12px;
}

.main-title {
  font-family: Crete Round, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin-top: 0;
  margin-bottom: 0;
}

.sub-title {
  /* Supporting Text */
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  display: flex;
  align-items: center;
  color: #fff5e1;
  margin-top: 0;
  margin-bottom: 0;
}

.info {
  /* Description */
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile {
  background-color: transparent;
}

#profile:hover {
  background-color: #3c3a39;
}

.portfolio {
  /* Recent Works */

  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.recent-work {
  display: grid;
  gap: 24px;
  justify-items: center;
  text-align: justify;
  padding: 0 24px 0 24px;
  margin: 120px 24px 0 24px;
}

.most-recent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  gap: 24px;
}

.title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  color: #1c1a19;
  margin: 0;
  display: flex;
  align-items: center;
}

.custom-hr {
  width: 100%;
  height: 0;
  border: 1px solid #212121;
}

.stories {
  display: flex;
  flex-direction: column;
  justify-items: left;
  align-items: flex-start;
  gap: 12px;
}

.s-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin: 0;
}

.paragraph {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #091e42;
  text-align: left;
  margin: 0;
}

.stack {
  padding-left: 0;
  display: flex;
  list-style: none;
  gap: 12px;
  flex: none;
  order: 1;
  background: #fff;
  margin: 0;
}

.css-c {
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  border: 1px solid #8993a4;
  background: #fff;
}

.html-c {
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
}

.bootstrap-c {
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
}

.ruby-c {
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #8993a4;
  background: #fff;
}

button:focus {
  color: #fff;
  background: #ff7f00;
}

button:hover {
  color: #fff;
  background: #ff6b00;
  border: 1px solid #ff6b00;
}

button:active {
  color: #fff;
  background: #e05304;
  border: 1px solid #e05304;
}

button:disabled {
  color: #5b5957;
  background: #f4f1f0;
}

.s-button {
  align-self: flex-start;
  padding: 12px;
  background: #ff6b00;
  border: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  order: 1;
}

.samples {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  align-items: center;
  justify-items: center;
  margin: 24px 24px 120px 24px;
}

.art-data {
  position: relative;
  background-image: url("./assets/background/bg_img.png");
  background-size: cover;
  background-position: center;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.title-post,
.description {
  margin-left: 16px;
}

.title-post {
  /* Title Post */

  margin-top: 22%;
  margin-bottom: 2%;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 138%;
  color: #fff;
  order: 0;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-right: 24px;
  margin-top: 2%;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  order: 1;
}

.stack-2 {
  padding-left: 16px;
  margin-top: 8px;
  list-style: none;
  display: flex;
  align-self: flex-start;
  width: 247px;
  height: 40px;
  gap: 12px;
  order: 2;
}

.html {
  width: 67px;
  height: 40px;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  background: #ffffff3d;
  color: #fff;
  border: none;
}

.bootstrap {
  width: 95px;
  height: 40px;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  background: #ffffff3d;
  color: #fff;
  border: none;
}

.ruby {
  width: 61px;
  height: 40px;
  padding: 10px 12px 10px 12px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  background: #ffffff3d;
  color: #fff;
  border: none;
}

.b-button {
  width: 100%;
  margin-top: auto;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ff6b00;
  box-sizing: border-box;
  order: 2;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1c1a19;
  width: 100%;
}

.about-me {
  margin: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.support-text {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.resume {
  float: left;
  padding: 12px;
  border: none;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  background: #ff6b00;
  color: #fff;
}

.image-bg-mobile {
  float: right;
  margin-left: auto;
}

.about-hr {
  width: 90%;
  border: 1px solid #fff;
}

.skills {
  margin: 120px 24px 38px 24px;
}

.my-stack {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: #fff;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.stack-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.lang-frameworks1,
.lang-frameworks2,
.lang-frameworks3 {
  padding: 0;
}

.stack3 {
  list-style: none;
  font-family: Inter, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

.feedback {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 24px;
  gap: 58px;
  width: 100%;
}

.feedback-text {
  color: #172b4d;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 137.5%;
  margin: 0 24px;
  width: 80%;
}

.feedback-form {
  width: 96%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

#fullname,
#email {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #979493;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border: none;
}

.divider {
  width: 80%;
  height: 1px;
  flex-shrink: 0;
}

.rectangle-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 114px;
  flex-shrink: 0;
  border: none;
  padding: 5px;
  background: #fbf8f7;
}

#message {
  width: 95%;
  display: flex;
  padding: 12px;
  flex-direction: column;
  flex-shrink: 0;
  color: #3c3a39;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  border: none;
  background: #fbf8f7;
}

.c-button {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  background: #ff6b00;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.51px;
}

.divider-line {
  width: 375px;
  height: 1px;
  background: #dfe1e6;
}

.footer {
  display: flex;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer-line {
  display: flex;
  align-self: center;
  margin: 21px 120px 8px 121px;
  width: 30%;
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #0d151e;
}

.contact-links-2 {
  display: flex;
  padding-left: 0;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .menu-desktop {
    display: none;
  }

  .recent-projects-desktop-img {
    display: none;
  }

  .image-bg-desktop {
    display: none;
  }

  .art-d {
    display: none;
  }
}
